h1{
	font-family: 'Charmonman', cursive;
	margin-top: 15px;
	margin-left: 10px;
	margin-bottom: 10px;
}

body{
	margin:0px;
	height: 100%;
}

.parallax{
	color: white;
	background-image: url('../Images/janko-ferlic-174927-unsplash.jpg');
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#div1{
	font-family: 'Playfair Display', serif;
	padding-left: 200px;
	padding-top: 200px;
	margin-bottom: 50px;
	font-size: 3em;
}

.row{
	margin-top: 50px;
	height: 972px;
	margin-bottom: 10px;
}

#intro-topic{
	font-family: 'Anton', sans-serif;
	font-size: 3em;
	margin-top: 50px;
	margin-left: 20px;
}

.intro-main{
	margin-left: 70px;
	font-family: 'Shadows Into Light', cursive;
	font-size: 2em;
}

#my-pic{
	background-image: url('../Images/mypic.jpg');
	background-size: 50%;
	height: 700px;
	background-attachment: fixed;
	/*background-repeat: no-repeat;*/
}

.review{
	height: 500px;
}