h1{
	font-family: 'Charmonman', cursive;
	margin-top: 15px;
	margin-left: 10px;
	margin-bottom: 10px;
}

body{
	margin:0px;
	height: 100%;
}

.parallax{
	background-image: url('../Images/sharon-mccutcheon-532782-unsplash.jpg');
    height: 500px; 
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lightSpeedIn{
	font-family: 'Playfair Display', serif;
	text-align: center;
	left: 350px;
	padding-top: 235px;
}

